$blue: #7DA0D7;
$lightgreen: #A7B777;
$yellow: #FAB400;
$lightred: #E87543;


// font sizes
// $xxxsmall-body-copy: 12px;
// $xxsmall-body-copy: 14px;
// $xsmall-body-copy: 2rem;
// $base-font-size: 2.25rem;
// $body-copy: 20px;
// $large-body-copy: 3rem;
// $xlarge-body-copy: 35px;
// $sub-heading-copy: 42px;
// $xsub-heading-copy: 46px;
// $main-heading-copy: 54px;

//line height
// $base-line-height: 1.2;
